<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Resultado</title>
</head>
<body>
    <header class="cabecalho">
        <div class="div__titulo">
        <h1 class="titulo">TestTester</h1>
    
        <div class='div__link'>
            <a href="./login" class="link">login</a>
            <a href="../" class="link">home</a>
        </div>
    </header>
    <main class="apresenta__resultado">

    </main>
</body>
<script src="../apresenta_resultado.js"></script>
</html>