<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Cadastra testes</title>
</head>
<body>
    <header class="cabecalho">
        <div class="div__titulo">
        <h1 class="titulo">TestTester</h1>
        <span class="subtitulo">bem vindo ao melhor site de questionarios</span>
        </div>
    
        <div class='div__link'>
            <a href="./login" class="link">login</a>
            <a href="./" class="link">home</a>
        </div>
    </header>

    <main class="cadastro ">
            <section class="tela " >
                <div class="tela__teste">
                    <form action="" class="formulario" id="formulario">
                        <label for="login">Insira o nome do teste:</label>
                        <input type="text" name="titulo" id="titulo" placeholder="Titulo">
                            <input type="button" value="Cadastrar" id="botao">
                    </form>
                </div>
            </section>
		    <section class="tela ">
                <div class="listagem_testes"></div>
            </section>
    </main>

    <footer class="rodape">
        <span>Todos os direitos autorais referente a &copyFelipe Trevisani</span>
    </footer>
    

</body>
<script src="cadastra_testes.js"></script>
</html>