<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Home</title>
</head>
<body>

    <header class="cabecalho">
        <div class="div__titulo">
        <h1 class="titulo">TestTester</h1>
        <span class="subtitulo">bem vindo ao melhor site de questionarios</span>
        </div>
    
        <div class='div__link'>
            <a href="./login" class="link">login</a>
            <a href="./" class="link">home</a>
        </div>
    </header>

    <main class="menu">
        <section class="tela">
            <div class="tela__teste">
                <h3 class="descricao">verifique os nossos testes aqui</h3>
                <ul class="lista" data-listaTeste>
                   
                </ul>
            </div>
        </section>
        <section class="tela">
            <div class="tela__resultado">
                <h3 class="descricao">verifique os seus resultados aqui</h3>
                <ul class="lista">
                    
                </ul>
            </div>
        </section>
    </main>



    <footer class="rodape">
        <span>Todos os direitos autorais referente a &copyFelipe Trevisani</span>
    </footer>
    
    <script src="lista_testes.js"></script>
    <script src="lista_resultados.js"></script>
    
</body>
</html>