<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Login</title>
</head>
<body>

    <header class="cabecalho">
        <div class="div__titulo">
        <h1 class="titulo">TestTester</h1>
        <span class="subtitulo">bem vindo ao melhor site de questionarios</span>
        </div>
    
        <div class='div__link'>
            <a href="./login" class="link">login</a>
            <a href="./" class="link">home</a>
        </div>
    </header>

    <main class="menu">
        <section class="tela ">
            <div class="tela__teste">
                <form class="formulario" data-formulario>
                    <label for="login">Login:</label>
                        <input type="text" name="login" id="login">
                    <label for="senha">Senha:</label>
                        <input type="password" name="senha" id="senha">
                    <input type="button" value="logar" class="btn__enviar">
                </form>
            </div>
        </section>
    </main>    

    <footer class="rodape">
        <span>Todos os direitos autorais referente a &copyFelipe Trevisani</span>
    </footer>
</body>
<script src="login.js"></script>
</html>