<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <header class="cabecalho">
        <div class="div__titulo">
        <h1 class="titulo">TestTester</h1>
        <span class="subtitulo">bem vindo ao melhor site de questionarios</span>
        </div>
    
        <div class='div__link'>
            <a href="./login" class="link">login</a>
            <a href="../" class="link">home</a>
        </div>
    </header>

    <main class="cadastro">
        <section class="tela ">
            <h1 id="teste "></h1>
            <h2 class="descricao"></h2>
            <input type="radio" id="opcao_a" name="opcao" class="opcoes" checked>
            <label for="opcao_a" id="lbl_opcao_a"></label><br>
            <input type="radio" id="opcao_b" name="opcao" class="opcoes">
            <label for="opcao_b" id="lbl_opcao_b"></label><br>
            <input type="radio" id="opcao_c" name="opcao" class="opcoes">
            <label for="opcao_c" id="lbl_opcao_c"></label><br>
            <input type="radio" id="opcao_d" name="opcao" class="opcoes">
            <label for="opcao_d" id="lbl_opcao_d"></label><br>
            <input type="radio" id="opcao_e" name="opcao" class="opcoes">
            <label for="opcao_e" id="lbl_opcao_e"></label><br>
            <div class="btn__pergunta">
                <button id="parar">
                    <span class="material-symbols-outlined" >
                        pause
                    </span>
                </button>
                <button id="responder">
                    <span class="material-symbols-outlined" >
                        play_arrow
                    </span>
                </button>
        </section>
    </main>

    <footer class="rodape">
        <span>Todos os direitos autorais referente a &copyFelipe Trevisani</span>
    </footer>
</body>
<script src="../realiza_pergunta.js"></script>
</html>